<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!--Meta Data for Open Graph-->
    <meta property="og:title" content="TestLegends" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.testlegends.com/images/share_thumbnail.png" />
    <meta property="og:url" content="https://home.testlegends.com/" />
    <meta property="og:site_name" content="TestLegends" />
    <meta property="og:description" content="You don't need to be a developer to gamify education. Teachers can too." />

    <title>TestLegends</title>

    <link rel="stylesheet" href="/styles/style.min.css" />

    <% /* HACK: Need this for JavaScripts in angular partials */ %>
    <% /* https://groups.google.com/forum/#!topic/angular/H4haaMePJU0 */ %>
	<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <%- partial('../partials/heap-analytics') %>
</head>

<body>
    <div id="wrap">
        <div class="shade"></div>
        <div id="top_background"></div>
        <div id="top">
            <div class="logo">
                <a href="/" title="TestLegends Home" target="_self">
                    <div class="logo_icon"></div><p><span>T</span>est<span>L</span>egends</p>
                </a>
            </div>
            <%- partial('../partials/flash') %>
        </div>

        <div id="bottom">
            <%- body %>
            <%- partial('../partials/google-analytics') %>
        </div>
    </div>
</body>

</html>
