<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!--Meta Data for Open Graph-->
    <meta property="og:title" content="TestLegends - School Reimagined." />
    <meta property="og:type" content="website" />
	<meta property="og:image" content="http://m.testlegends.com/images/normal.png" />
	<meta property="og:url" content="http://testlegends.com/" />
	<meta property="og:site_name" content="TestLegends" />
	<meta property="og:description" content="School reimagined!" />

    <title>TestLegends</title>

    <link rel="stylesheet" href="styles/home.min.css" />
</head>

<body>
    <div id="fullpage">
        <div id="box1" class="section">
            <landing></landing>
        </div>

        <div id="box2" class="section">
            <demo></demo>
        </div>

        <div id="box3" class="section">
            <customize></customize>
        </div>

        <div id="box4" class="section">
            <track></track>
        </div>

        <div id="box5" class="section">
            <publish></publish>
        </div>

        <div id="box6" class="section">
            <signup></signup>
        </div>
    </div>

    <div id="follow">
        <p>Follow us</p>
        <button class="follow_button" onclick="window.open('https://www.facebook.com/testlegends', '_target')">
            <img src="images/facebook_follow.png" />
        </button><button class="follow_button follow_split" onclick="window.open('https://twitter.com/TestLegends1', '_target')">
            <img src="images/twitter_follow.png" />
        </button>
    </div>

    <script src="js/vendor/requirejs/require.js" data-main="js/angular/home.min"></script>
    <script src="js/home.min.js"></script>

    <%- partial('../partials/google_analytics') %>
    <%- partial('../partials/uservoice') %>
</body>

</html>
