<div id="pageThree">
    <div class="point_center">
        <img class="point cus_point" src="images/point_left_shadow.png" />
    </div>
    <div class="sidebar">
        <div class="top_quote">
            <h3>Customize</h3>
            <p>the whole game with <span>all</span> your own class <span>content.</span></p>
        </div>

        <div class="customize_action">
            <div class="action theme" id="vocabulary">
                <button>Vocabulary</button>
            </div>

            <div class="action theme" id="physics">
                <button class="inactive">Physics</button>
            </div>
        </div>

        <signup-and-share></signup-and-share>
    </div>

    <div class="vocabulary">
        <div class="content">
            <div class="content_area">
                <p class="customize_header left_header">Questions you input or upload</p>
                <div class="qBox q1">
                    <p class="questions">The mastermind behind the website hoped to live a(n) ________ life once the site made him a millionaire.</p>
                    <div>
                        <p>a) opulent</p>
                        <p>b) reiterate</p>
                        <p class="bottomQ special">c) insidious</p>
                        <p class="bottomQ special">d) tentative</p>
                    </div>
                </div>
                <div class="qBox q2">
                    <p class="questions">Definition: conforming to moral and ethical principles.</p>
                    <div>
                        <p>a) pragmatic</p>
                        <p>b) virtuous</p>
                        <p class="bottomQ">c) virtuality</p>
                        <p class="bottomQ">d) pragmatize</p>
                    </div>
                </div>
                <div class="qBox q3">
                    <p class="questions">Studying for school in the <span>21 <sup>st</sup></span> century was no longer ________ to paper and pen.</p>
                    <div>
                        <p>a) managed</p>
                        <p>b) confirmed</p>
                        <p class="bottomQ special">c) confined</p>
                        <p class="bottomQ special">d) all of the above</p>
                    </div>
                </div>
                <div class="qBox q4">
                    <p class="questions">Definition: to give intellectual light to; instruct; impart knowledge to</p>
                    <div>
                        <p>a) complex</p>
                        <p>b) delight</p>
                        <p class="bottomQ">c) perplex</p>
                        <p class="bottomQ">d) enlighten</p>
                    </div>
                </div>
            </div><div class="content_area">
                <p class="customize_header">Game characters and backgrounds to match your topic</p>
                <img class="hero fade" src="/images/warrior.png" />
                <img class="monster fade" src="/images/monster.png" />
            </div>
        </div>
    </div>
    <div class="physics">
        <div class="content">
            <div class="content_area">
                <p class="customize_header left_header">Questions you input or upload</p>
                <div class="qBox q1">
                    <p class="questions">What is the acceleration due to gravity on Earth?</p>
                    <div>
                        <p>a) <span>6.67</span>x<span>10</span><span><sup>-11</sup></span> m<span><sup>3</sup></span>kg<span><sup>-1</sup></span>s<span><sup>-2</sup></span></p>
                        <p>b) <span>9.81</span> m/s<span><sup>2</sup></span></p>
                        <p class="bottomQ special">c) the same as on the &nbsp&nbsp&nbsp&nbspSun</p>
                        <p class="bottomQ special">d) all of the above</p>
                    </div>
                </div>
                <div class="qBox q2">
                    <p class="questions">Which choice below is <u>not</u> a source of light?</p>
                    <div>
                        <p>a) Fluorescence</p>
                        <p>b) Bioluminescence</p>
                        <p class="bottomQ">c) Chemiluminescence</p>
                        <p class="bottomQ">d) Chlorescence</p>
                    </div>
                </div>
                <div class="qBox q3">
                    <p class="questions">The formation of frost is an example of:</p>
                    <div>
                        <p>a) condensation</p>
                        <p>b) evaporation</p>
                        <p class="bottomQ special">c) deposition</p>
                        <p class="bottomQ special">d) melting point</p>
                    </div>
                </div>
                <div class="qBox q4">
                    <p class="questions">Which of these is a scalar quantity?</p>
                    <div>
                        <p>a) velocity</p>
                        <p>b) acceleration</p>
                        <p class="bottomQ">c) displacement</p>
                        <p class="bottomQ">d) speed</p>
                    </div>
                </div>
            </div><div class="content_area">
                <p class="customize_header">Game characters and backgrounds to match your topic</p>
                <img class="spaceship fade" src="/images/spaceship.png" />
                <img class="ufo fade" src="/images/ufo.png" />
            </div>
        </div>
    </div>
</div>
