<div id="pageThree">
    <div class="sidebar">
        <div class="top_quote">
            <h3>Customize</h3>
            <p>the whole game with <span>all</span> your own class <span>content.</span></p>
        </div>

        <div class="customize_action">
            <div class="action theme" id="vocabulary">
                <button>Vocabulary</button>
            </div>

            <div class="action theme" id="physics">
                <button>Physics</button>
            </div>

            <!--div class="action theme" id="history">
                <button class="inactive">History</button>
            </div-->
        </div>

        <div class="social_hide social small">
            <div class="social_text small">
                <p>Thanks!</p>
                <p>Your spot is reserved.</p>
                <p class="social_subtext small">Tell your friends about TestLegends for a chance to win some awesome rewards!</p>
            </div>
            <button class="facebook share_button small">
                <img src="images/facebook.png" />
            </button>
            <button class="twitter share_button small">
                <img src="images/twitter.png" />
            </button>
        </div>

        <div class="user_sub">
            <div class="submission hidden">
                <input type="text" class="user email" ng-model="email" placeholder="email" />
            </div>
            <div class="join_us">
                <button id="join_on_customize">Join us!</button>
            </div>
        </div>
    </div>

    <div class="vocabulary">
        <div class="content">
            <div class="content_area">
                <p class="customize_header left_header">Questions you input or upload</p>
                <div class="qBox" id="q1">
                    <p class="questions">What is the acceleration due to gravity on Earth?</p>
                    <div>
                        <p>a) <span>6.67</span>x<span>10</span><span><sup>-11</sup></span> m<span><sup>3</sup></span>kg<span><sup>-1</sup></span>s<span><sup>-2</sup></span></p>
                        <p>b) <span>9.81</span> m/s<span><sup>2</sup></span></p>
                        <p class="bottomQ special">c) the same as on the &nbsp&nbsp&nbsp&nbspSun</p>
                        <p class="bottomQ special">d) all of the above</p>
                    </div>
                </div>
                <div class="qBox" id="q2">
                    <p class="questions">When did Christopher Columbus first land on the shores of America?</p>
                    <div>
                        <p>a) Jan <span>1, 0</span> AD</p>
                        <p>b) July <span>4, 1776</span> AD</p>
                        <p class="bottomQ">c) Oct <span>12, 1492</span> AD</p>
                        <p class="bottomQ">d) in the <span>14</span>th century</p>
                    </div>
                </div>
                <div class="qBox" id="q3">
                    <p class="questions">What does the character Jon Snow from Game of Thrones know?</p>
                    <div>
                        <p>a) Hodor!</p>
                        <p>b) Valar Morghulis</p>
                        <p class="bottomQ special">c) don't be related to &nbsp&nbsp&nbspSean Bean's character</p>
                        <p class="bottomQ special">d) Nothing</p>
                    </div>
                </div>
                <div class="qBox" id="q4">
                    <p class="questions">if <span><i>x</i></span>=<span>8</span>, which of the following is equivalent to <span><i>xn</i><sup>2</sup></span> + <span><i>xn</i></span> + <span><i>x</i></span>?</p>
                    <div>
                        <p>a) <span>8</span>(<span><i>x</i><sup>2</sup></span> + <span>1</span>)</p>
                        <p>b) <span>8</span>(<span><i>x</i><sup>2</sup></span> + <span><i>x</i></span> + <span>1</span>)</p>
                        <p class="bottomQ">c) <span>8</span>(<span><i>x</i></span> + <span>1</span>)<span><sup>2</sup></span></p>
                        <p class="bottomQ">d) <span>8</span>(<span>8<i>x</i></span> + <span><i>x</i></span> + <span>1</span>)</p>
                    </div>
                </div>
            </div><div class="content_area">
                <p class="customize_header">Game characters and backgrounds to match your topic</p>
                <img class="hero" src="/images/warrior.svg" />
                <img class="monster" src="/images/monster.svg" />
            </div>
        </div>
    </div>
    <div class="physics">
        <div class="content">
            <div class="content_area">
                <p class="customize_header left_header">Questions you input or upload</p>
                <div class="qBox" id="q1">
                    <p class="questions">What is the acceleration due to gravity on Earth?</p>
                    <div>
                        <p>a) <span>6.67</span>x<span>10</span><span><sup>-11</sup></span> m<span><sup>3</sup></span>kg<span><sup>-1</sup></span>s<span><sup>-2</sup></span></p>
                        <p>b) <span>9.81</span> m/s<span><sup>2</sup></span></p>
                        <p class="bottomQ special">c) the same as on the &nbsp&nbsp&nbsp&nbspSun</p>
                        <p class="bottomQ special">d) all of the above</p>
                    </div>
                </div>
                <div class="qBox" id="q2">
                    <p class="questions">When did Christopher Columbus first land on the shores of America?</p>
                    <div>
                        <p>a) Jan <span>1, 0</span> AD</p>
                        <p>b) July <span>4, 1776</span> AD</p>
                        <p class="bottomQ">c) Oct <span>12, 1492</span> AD</p>
                        <p class="bottomQ">d) in the <span>14</span>th century</p>
                    </div>
                </div>
                <div class="qBox" id="q3">
                    <p class="questions">What does the character Jon Snow from Game of Thrones know?</p>
                    <div>
                        <p>a) Hodor!</p>
                        <p>b) Valar Morghulis</p>
                        <p class="bottomQ special">c) don't be related to &nbsp&nbsp&nbspSean Bean's character</p>
                        <p class="bottomQ special">d) Nothing</p>
                    </div>
                </div>
                <div class="qBox" id="q4">
                    <p class="questions">if <span><i>x</i></span>=<span>8</span>, which of the following is equivalent to <span><i>xn</i><sup>2</sup></span> + <span><i>xn</i></span> + <span><i>x</i></span>?</p>
                    <div>
                        <p>a) <span>8</span>(<span><i>x</i><sup>2</sup></span> + <span>1</span>)</p>
                        <p>b) <span>8</span>(<span><i>x</i><sup>2</sup></span> + <span><i>x</i></span> + <span>1</span>)</p>
                        <p class="bottomQ">c) <span>8</span>(<span><i>x</i></span> + <span>1</span>)<span><sup>2</sup></span></p>
                        <p class="bottomQ">d) <span>8</span>(<span>8<i>x</i></span> + <span><i>x</i></span> + <span>1</span>)</p>
                    </div>
                </div>
            </div><div class="content_area">
                <p class="customize_header">Game characters and backgrounds to match your topic</p>
                <img class="spaceship" src="/images/spaceship.svg" />
                <img class="ufo" src="/images/ufo.svg" />
            </div>
        </div>
    </div>

    <div class="history">
        <div class="content">
            <div class="cus_quest">
                <p class="customize_header">Questions you input or upload</p>

                <div class="qBox" id="q1">
                    <p class="questions">What is the acceleration due to gravity on Earth?</p>
                    <div>
                        <p>a) 6.67x10<sup>-11</sup> m<sup>3</sup>kg<sup>-1</sup>s<sup>-2</sup></p>
                        <p>b) 9.81 m/s<sup>2</sup></p>
                        <p class="bottomQ">c) the same as on the Sun</p>
                        <p class="bottomQ">d) all of the above</p>
                    </div>
                </div>

                <div class="qBox" id="q2">
                    <p class="questions">When did Christopher Columbus first land on the shores of America?</p>
                    <div>
                        <p>a) Jan 1, 0 AD</p>
                        <p>b) July 4, 1776 AD</p>
                        <p class="bottomQ">c) Oct 12, 1492 AD</p>
                        <p class="bottomQ">d) in the 14th century</p>
                    </div>
                </div>

                <div class="qBox" id="q3">
                    <p class="questions">What does the character Jon Snow from Game of Thrones know?</p>
                    <div>
                        <p>a) Hodor!</p>
                        <p>b) Valar Morghulis</p>
                        <p class="bottomQ">c) don't be related to Sean Bean's character</p>
                        <p class="bottomQ">d) Nothing</p>
                    </div>
                </div>

                <div class="qBox" id="q4">
                    <p class="questions">if <span>x</span>=8, which of the following is equivalent to <span>xn</span><sup>2</sup> + <span>xn</span> + <span>x</span>?</p>
                    <div>
                        <p>a) 8(<span>x</span><sup>2</sup> + 1)</p>
                        <p>b) 8(<span>x</span><sup>2</sup> + <span>x</span> + 1)</p>
                        <p class="bottomQ">c) 8(<span>x</span> + 1)<sup>2</sup></p>
                        <p class="bottomQ">d) 8(8<span>x</span> + <span>x</span> + 1)</p>
                    </div>
                </div>
            </div>

            <div class="characters">
                <p class="customize_header">Game characters and backgrounds to match your topic</p>
                <!--img class="hero" src="/images/daenerys.png" />
                <img class="monster" src="/images/joffery.png" /-->
            </div>
        </div>
    </div>
</div>
