<div id="pageTwo">
    <div class="sidebar">
        <div class="top_quote">
            <h3>Adventure</h3>
            <p>on an epic quest to <span>learn</span> and <span>study</span> for <span>anything.</span></p>
        </div>

        <div class="action" id="demo_button">
            <button>Start Demo</button>
        </div>

        <div class="social_hide social small">
            <div class="social_text small">
                <p>Thanks!</p>
                <p>Your spot is reserved.</p>
                <p class="social_subtext small">Tell your friends about TestLegends for a chance to win some awesome rewards!</p>
            </div>
            <button class="facebook share_button small">
                <img src="images/facebook.png" />
            </button>
            <button class="twitter share_button small">
                <img src="images/twitter.png" />
            </button>
        </div>

        <div class="user_sub">
            <div class="submission hidden">
                <input type="text" class="user email" ng-model="email" placeholder="email" />
            </div>
            <div class="join_us">
                <button id="join_on_demo">Join us!</button>
            </div>
        </div>
    </div>
</div>
