<div id="pageTwo">
    <div class="sidebar">
        <div class="top_quote">
            <h3>Adventure</h3>
            <p>on an epic quest to <span>learn</span> and <span>study</span> for <span>anything.</span></p>
        </div>

        <div class="action" id="demo_button">
            <button>PLAY</button>
            <img class="point demo_point" src="images/point.png" />
        </div>

        <signup-and-share></signup-and-share>
    </div>

    <div class="tutorial">
        <div class="sel1 selector"></div>
        <div class="sel1a selector"></div>
        <div class="sel2 selector"></div>
        <div class="sel2a selector"></div>
        <div class="sel3 selector"></div>
        <div class="box1 overlay"></div>
        <div class="box2 overlay"></div>
        <div class="box3 overlay"></div>
    </div>

    <div id='canvas_container' style="position: absolute; z-index: 100; width: 100%">
        <canvas id="EpicGame" width="2272" height="1280" style="width: 100%"></canvas>
    </div>

    <div id="preload-knight"></div>
    <div id="preload-question"></div>
    <div id="preload-monsters"></div>
</div>
