<div id="pageTwo">
    <div class="sidebar">
        <div class="top_quote">
            <h3>Adventure</h3>
            <p>on an epic quest to <span>learn</span> and <span>study</span> for <span>anything.</span></p>
        </div>

        <div class="action" id="demo_button">
            <button>Start Demo</button>
        </div>

        <div class="social_hide small_social">
            <div class="small_text">
                <p class="small_headtext">Thanks!</p>
                <p class="small_subtext">Help us spread the word:</p>
            </div>
            <div class="button_sec">
                <button class="facebook small_button">
                    <img src="images/facebook_small.png" />
                </button>
                <button class="twitter small_button">
                    <img src="images/twitter_small.png" />
                </button>
                <button class="mail small_button">
                    <img src="images/email_small.png"/>
                </button>
            </div>
        </div>

        <div class="user_sub">
            <div class="submission hidden">
                <input type="text" class="user email" ng-model="email" placeholder="email" />
            </div>
            <div class="join_us">
                <button id="join_on_demo">Get Early Invite</button>
            </div>
        </div>
    </div>

    <div id="demo">
    </div>

    <div class="tutorial welcome">
        <div class="tutorial_center">
            <div class="tutorial_title">
                <p>Welcome!</p>
            </div>
            <div class="tutorial_info">
                <p><span>L</span>ets take a <span>Q</span>uick <span>T</span>our before playing</p>
                <div class="play"></div>
            </div>
        </div>
        <div class="skip">
            <p>skip Quick Tour</p>
        </div>
    </div>

    <div class="tutorial knight">
        <div class="overlay">
        </div>
        <div class="finger">
            <div class="next"></div>
        </div>
        <div class="skip">
            <p>skip Quick Tour</p>
        </div>
    </div>

    <div class="tutorial question_timer">
        <div class="overlay">
        </div>
        <div class="finger">
            <div class="next"></div>
        </div>
        <div class="skip">
            <p>skip Quick Tour</p>
        </div>
    </div>

    <div class="tutorial monsters">
        <div class="overlay">
        </div>
        <div class="finger">
            <div class="next"></div>
        </div>
        <div class="skip">
            <p>skip Quick Tour</p>
        </div>
    </div>

    <div class="tutorial health">
        <div class="overlay">
        </div>
        <div class="finger">
            <div class="next"></div>
        </div>
        <div class="skip">
            <p>skip Quick Tour</p>
        </div>
    </div>

    <div class="tutorial rumble">
        <div class="tutorial_center">
            <div class="tutorial_title">
                <p>That's it!</p>
            </div>
            <div class="tutorial_info">
                <p><span>L</span>ets <span>R</span>umble</p>
                <div class="play"></div>
            </div>
        </div>
        <div class="skip restart">
            <p>restart Quick Tour</p>
        </div>
        <div class="tutorial_back">
        </div>
    </div>

    <div id='canvas_container' style="position: absolute; z-index: 100; width: 100%">
        <canvas id="EpicGame" width="2272" height="1280" style="width: 100%"></canvas>
    </div>
</div>
