<div id="pageThree">
    <div class="sidebar">
        <div class="top_quote">
            <h3>Create</h3>
            <p>test questions and <span>build</span> your own TestLegends <span>adventure.</span></p>
        </div>

        <div class="action">
                <p><span>see</span> what others are creating!</p>
                <img src="images/side-arrow.png" />
        </div>

        <div class="join_us">
            <button>Join us!</button>
        </div>
    </div>

    <div class="share_area">
        <div class="share_box">
            <p id="share_header">Shared from your fellow adventurers!</p>
            <div class="qBox" ng-repeat="question in questions">
                <p class="questions">{{ question.content }}</p>
                <div>
                    <p>a) {{ question.options.correct }}</p>
                    <p>b) {{ question.options.wrong[0].text }}</p>
                    <p class="bottom">c) {{ question.options.wrong[1].text }}</p>
                    <p class="bottom">d) {{ question.options.wrong[2].text }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="demo_area">
        <div class="demo_box">
            <div><textarea id="user_input" placeholder="This is an example question which you can generate to see it displayed in game. You can also type here to create your own and edit the __________ choice answers below." rows="7"></textarea></div>
            <div>
                <input class="answers" placeholder="multiple" id="correct" />
            </div>
            <div>
                <input class="answers" placeholder="mule" id="wrong1" />
            </div>
            <div>
                <input class="answers" placeholder="multiplayer" id="wrong2" />
            </div>
            <div>
                <input class="answers" placeholder="mumble" id="wrong3" />
            </div>
            <div>
                <div id="generate">
                    <button>Generate</button>
                </div>
            </div>
        </div>
    </div>
</div>
