<div id="pageOne">
    <div id="title">
        <h1><span>T</span>est<span>L</span>egends</h1>
        <h2>Defeat school the fun way!</h2>

        <div class="submit">
            <input type="email" id="email" /><button id="join">Join the Adventure</button>
        </div>

        <div class="subtext">
            <p>sign up for early access to TestLegends</p>
        </div>

        <div class="social_hide social">
            <div class="social_text">
                <p>Thanks! Your spot is reserved.</p>
                <p id="social_subtext">Tell your friends about TestLegends for a chance to win some awesome rewards!</p>
            </div>
            <button class="facebook share_button">
                <img src="images/facebook.png" />
                <span>Share</span>
            </button>
            <button class="twitter share_button">
                <img src="images/twitter.png" />
                <span>Tweet</span>
            </button>
        </div>
    </div>

    <div id="characters">
        <img src="images/p1-characters.png" />
    </div>
</div>
