<div id="pageOne">
    <div class="shade"></div>
    <div class="logo">
        <div class="logo_icon"></div>
        <p><span>T</span>est<span>L</span>egends</p>
        <div class="login" style="display:inline-block; vertical-align:bottom; float:right;">
            <p style="font-family:Raleway; font-size:1em; margin-right:0.5em">For beta users</p>
            <button class="login_button" ng-click="gotoBuild()" style="font-size:1em; font-weight:500; padding: 0.4em 0.6em; background:white; border:none; border-radius:3px; color:#86C75C; cursor:pointer;">Login</button>
        </div>
    </div>
    <div id="main">
        <div id="left_section">
            <div id="phrase">
                <h2>You don't need to be a developer to gamify education</h2>
            </div>
            <div class="submit">
                <p>teachers can too.</p>
                <div class="input">
                    <input type="email" ng-model="email" placeholder="email" /><button ng-click="join()">Get Early Invite</button>
                </div>
            </div>
        </div>
        <div id="right_section">
            <div id="characters">
                <div id="characters_image"></div>
            </div>
        </div>
    </div>
</div>
