<div id="pageFive">
    <div id="corner_logo">
        <div id="corner_title">
            <p><span>T</span>est<span>L</span>egends <span id="cBuild">Build</span></p>
        </div>
        <div id="corner_subtitle">
            <p>for educators and teachers</p>
        </div>
    </div>

    <div id="main">
        <div class="left info">
            <div class="info_box top">
                <p class="info_title">Builder</p>
                <p><span>upload and</span> customize <span>the content you need for</span> your class.</p>
            </div><div class="arrow_box" id="builder">
                <div class="right_arrow"></div>
            </div>

            <div class="info_box bottom">
                <p class="info_title">Analytics</p>
                <p><span>track your</span> students' performance <span>and see how they</span> progress.</p>
            </div><div class="arrow_box" id="analytics">
                <div class="right_arrow"></div>
            </div>
        </div>

        <div id="screenshot">
            <img src="images/screenshot.svg" />
        </div>

        <div class="right info">
            <div class="arrow_box" id="publisher">
                <div class="left_arrow"></div>
            </div><div class="info_box top">
                <p class="info_title">Publisher</p>
                <p><span>share</span> your games <span>and see the top games from</span> other educators.</p>
            </div>

            <div class="info_box bottom">
                <p>You've made it to the last page! Pretty sure you want to</p>
                <div class="join_us">
                    <button>Join us!</button>
                </div>
            </div>

        </div>
    </div>
</div>
