<div id="pageFive">
    <div class="sidebar">
        <div class="top_quote">
            <h3>Publish</h3>
            <p>and <span>share</span> your games with a <span>community</span> of teachers.</p>
        </div>

        <div class="user_sub">
            <div class="action share_topic">
                <p><span>share</span> your topic for a TestLegends adventure:</p>
            </div>
            <div class="submission">
                <textarea class="user topic" placeholder="i.e. Earth and Space Science, Gr 11" rows="4"></textarea>
                <input class="user email" placeholder="email" />
            </div>
            <div class="join_us">
                <button>Join us!</button>
            </div>
        </div>
    </div>
</div>
