<div id="pageFive">
    <div class="sidebar">
        <div class="top_quote">
            <h3>Publish</h3>
            <p>and <span>share</span> your games with a <span>community</span> of teachers.</p>
        </div>

        <div class="social_hide small_social">
            <div class="small_text">
                <p class="small_headtext">Thanks!</p>
                <p class="small_subtext">Help us spread the word:</p>
            </div>
            <div class="button_sec">
                <button class="facebook small_button">
                    <img src="images/facebook_small.png" />
                </button>
                <button class="twitter small_button">
                    <img src="images/twitter_small.png" />
                </button>
                <button class="mail small_button">
                    <img src="images/email_small.png"/>
                </button>
            </div>
        </div>

        <div class="user_sub">
            <div class="action share_topic">
                <p><span>share</span> your topic for a TestLegends adventure:</p>
            </div>
            <div class="submission">
                <textarea class="user topic" ng-model="topic" placeholder="i.e. Earth and Space Science, Gr 11" rows="4"></textarea>
                <input class="user email" ng-model="email" placeholder="email" />
            </div>
            <div class="join_us">
                <button ng-click="joinWithTopic()">Get Early Access</button>
            </div>
        </div>
    </div>

    <div class="content">
        <div id="publish_map">
            <img id="map" src="/images/map.png" />
        </div>
    </div>
</div>
