<div id="pageFive">
    <div class="sidebar">
        <div class="top_quote">
            <h3>Publish</h3>
            <p>and <span>share</span> your games with a <span>community</span> of teachers.</p>
        </div>

        <div class="social_hide social small">
            <div class="social_text small">
                <p>Thanks!</p>
                <p>Your spot is reserved.</p>
                <p class="social_subtext small">Tell your friends about TestLegends for a chance to win some awesome rewards!</p>
            </div>
            <button class="facebook share_button small">
                <img src="images/facebook.png" />
            </button>
            <button class="twitter share_button small">
                <img src="images/twitter.png" />
            </button>
        </div>

        <div class="user_sub">
            <div class="action share_topic">
                <p><span>share</span> your topic for a TestLegends adventure:</p>
            </div>
            <div class="submission">
                <textarea class="user topic" ng-model="topic" placeholder="i.e. Earth and Space Science, Gr 11" rows="4"></textarea>
                <input class="user email" ng-model="email" placeholder="email" />
            </div>
            <div class="join_us">
                <button ng-click="joinWithTopic()">Join us!</button>
            </div>
        </div>
    </div>

    <div class="content">
        <div id="publish_map">
            <img id="map" src="/images/map.png" />
        </div>
    </div>
</div>
