<div id="pageSix">
    <div id="header">
        <div id="six_title">
            <h1><span>T</span>est<span>L</span>egends</h1>
        </div>
        <div id="six_subtitle">
            <h2>Transform your homework into an epic adventure game.</h2>
        </div>
    </div>

    <div id="centering">
        <div id="signup">
            <div id="info">
                <p>Sign up for early access to TestLegends</p>
            </div>
            <div id="inputs">
                <input type="email" ng-model="email" placeholder="email" /><button ng-click="join()">Join</button>
            </div>
        </div>

        <div class="social_hide social">
            <div class="social_text">
                <p>Thanks! <span class="social_subtext">Help us spread the word:</span></p>
            </div>
            <button class="facebook share_button">
                <img src="images/facebook.png" title="Facebook" />
                <span>Share</span>
            </button>
            <button class="twitter share_button">
                <img src="images/twitter.png" title="Twitter"/>
                <span>Tweet</span>
            </button>
            <button class="mail share_button">
                <img src="images/email.png" title="E-mail" />
                <span>Email</span>
            </button>
        </div>
    </div>

    <div id="free">
        <div id="monster">
            <img src="images/happy_monster.png" />
        </div>
    </div>
</div>
