<div id="pageSix">
    <div class="shade"></div>
    <div id="header">
        <div id="six_title">
            <h1><span>T</span>est<span>L</span>egends</h1>
        </div>
        <div id="six_subtitle">
            <h2>You don't need to be a developer to gamify education</h2>
        </div>
    </div>

    <div id="centering">
        <div class="six_submit">
            <p>teachers can too.</p>
            <div class="six_input">
                <input type="email" ng-model="email" placeholder="email" /><button ng-click="join()">Get Early Invite</button>
            </div>
        </div>
    </div>

    <div id="free">
        <div id="monster">
            <img src="images/happy_monster.png" />
        </div>
    </div>

    <div id="copyright">
        <p>All rights reserved. &copy <span>2014</span> TestLegends Inc.</p>
    </div>
</div>
