<div id="pageSix">
    <div id="header">
        <div id="six_title">
            <h1><span>T</span>est<span>L</span>egends</h1>
        </div>
        <div id="six_subtitle">
            <h2>Transform your homework into an epic adventure game.</h2>
        </div>
    </div>

    <div id="centering">
        <div id="signup">
            <div id="info">
                <p>Sign up for early access to TestLegends</p>
            </div>
            <div id="inputs">
                <input type="email" placeholder="email" /><button type="submit">Join</button>
            </div>
        </div>
    </div>

    <div id="free">
        <div id="monster">
            <img src="images/happy_monster.png" />
        </div>
    </div>
</div>
