<div>
    <div class="social_hide small_social">
        <div class="small_text">
            <p class="small_headtext">Thanks!</p>
            <p class="small_subtext">Help us spread the word:</p>
        </div>
        <div class="button_sec">
            <button class="facebook small_button">
                <img src="images/facebook_small.png" />
            </button>
            <button class="twitter small_button">
                <img src="images/twitter_small.png" />
            </button>
            <button class="mail small_button">
                <img src="images/email_small.png"/>
            </button>
        </div>
    </div>

    <div class="user_sub">
        <div class="submission">
            <input type="text" class="user email hidden" ng-model="email" placeholder="email" />
        </div>
        <div class="join_us">
            <button class="join_on_sidebar">Get Early Invite</button>
        </div>
    </div>
</div>
