<div id="pageFour">
    <div class="sidebar">
        <div class="top_quote">
            <h3>Track</h3>
            <p>your students' <span>performance</span> and gain insights on their <span>learning.</span></p>
        </div>

        <div class="social_hide small_social">
            <div class="small_text">
                <p class="small_headtext">Thanks!</p>
                <p class="small_subtext">Help us spread the word:</p>
            </div>
            <div class="button_sec">
                <button class="facebook small_button">
                    <img src="images/facebook_small.png" />
                </button>
                <button class="twitter small_button">
                    <img src="images/twitter_small.png" />
                </button>
                <button class="mail small_button">
                    <img src="images/email_small.png"/>
                </button>
            </div>
        </div>

        <div class="user_sub">
            <div class="action assessments">
                <p><span>tell us</span> the assessments you'd like to see:</p>
            </div>
            <div class="submission">
                <textarea class="user metric" ng-model="assessment" placeholder="i.e. average time per question" rows="4"></textarea>
                <input class="user email" ng-model="email" placeholder="email" />
            </div>
            <div class="join_us">
                <button ng-click="joinWithAssessment()">Get Early Invite</button>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="reportCard">
            <div class="title_box">
                <p id="lesson_name">Vocabulary, Lession 1-7</p>
                <p id="lesson_date">September <span>3, 2014</span></p>
            </div>
            <div class="class_names">
                <div class="name_container" ng-click="viewStudent('Class Average', $event)">
                    <div class="grade_ind"></div><p class="selected">Class Average</p>
                </div>
                <div class="name_container" ng-repeat="name in names(scores)" ng-if="name != 'Class Average'" ng-click="viewStudent(name, $event)">
                    <div class="grade_ind"></div><p>{{name}}</p>
                </div>
            </div><div class="metrics">
                <div class="top element NQA">
                    <p class="metricTitle">Number of Questions Answered</p>
                    <div class="meter_container">
                        <canvas id="QAmeter" class="meter"></canvas>
                        <div class="center_container">
                            <div class="meter_center">
                                <p class="meter_num" id="answered_total"><span class="answered">50</span>/<span class="total">165</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="stats">
                        <p class="main_percentage" id="answered_percentage">30.3%</p>
                    </div>
                </div><div class="top element NQC">
                    <p class="metricTitle">Number of Questions Correct</p>
                    <div class="meter_container">
                        <canvas id="QCmeter" class="meter"></canvas>
                        <div class="center_container">
                            <div class="meter_center">
                                <p class="meter_num" id="correct_answered"><span class="correct">43</span>/<span class="answered">50</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="NQCstats stats">
                        <p class="main_percentage" id="correct_percentage">86.0%</p>
                        <p class="sub_percentage" id="total_percentage">26.1%</p>
                        <p class="sub_info">of all possible questions</p>
                    </div>
                </div><div class="bottom element MDC">
                    <p class="metricTitle">Most Difficult Questions</p>
                    <div class="drop_down"></div>
                    <div class="metricList">
                        <p class="qNum">Q<span id="question_num1">12</span></p><p class="metricQ" id="question1">Lorem ipsum something out of</p>
                        <p class="qNum">Q<span id="question_num2">20</span></p><p class="metricQ" id="question2">Given that there is nothing more</p>
                        <p class="qNum">Q<span id="question_num3">21</span></p><p class="metricQ" id="question3">The villagers were encouraged</p>
                    </div>
                </div><div class="bottom element TSC">
                    <p class="metricTitle">Top Scores</p>
                    <div class="drop_down"></div>
                    <div class="metricList">
                        <p class="top_name">Alex C</p><p><span>96.7%</span></p>
                        <p class="top_name">Jeff L</p><p><span>94.7%</span></p>
                        <p class="top_name">Hubert K</p><p><span>92.7%</span></p>
                    </div>
                </div><div class="bottom element chart" style="width: 100%">
                    <div id="performance_chart" style="width: 100%; height: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
