<div ng-view></div>

<script data-main="js/angular/Project" src="/js/vendor/requirejs/require.js"></script>

<style type="text/css">
	@import "js/vendor/angular-loading-bar/build/loading-bar.min.css";
</style>