/* Source: https://fonts.googleapis.com/css?family=Lato:300,400,700 */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
    font-family: 'Showcard Gothic';
    src: url('../fonts/showg-webfont.eot');
    src: url('../fonts/showg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/showg-webfont.woff') format('woff'),
         url('../fonts/showg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*---------------Common CSS--------------*/
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1.00;
}

#content {
    height: 100%;
}

#wrap {
    text-align: center;
    height: 100%;
}

.shade {
    height: 150px;
    background: rgba(0,0,0,0.15);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#top_background {
    background-image: url('/images/backgroundblur.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: middle;
    height: 150px;
    box-sizing: border-box;
    position: relative;
    z-index: -5;
}

#top {
    height: 150px;
    box-sizing: border-box;
    color: white;
    font-family: Showcard Gothic;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 1000;
    cursor: pointer;
}

.logo_icon {
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    display: inline-block;
    vertical-align: middle;
}

.logo p {
    font-family: Showcard Gothic;
    font-size: 1.5em;
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 8px;
}

.logo span {
    font-family: Showcard Gothic;
    font-size: 1.2em;
    color: white;
}

#bottom {
    font-size: 1.5em;
    margin-top: -150px;
}

#bottom h1 {
    color: #FFB000;
    font-size: 1.75em;
    margin: 30px 0;
    font-weight: 400;
    line-height: 1.1;
}

#title {
    font-family: Showcard Gothic;
    color: white;
    height: 150px;
    box-sizing: border-box;
    padding-top: 0.8em;
}

#title span {
    font-size: 1.2em;
    position: relative;
}

/*-------------End Common CSS------------*/


/*---------------Share Page--------------*/
#signuplink {
    font-size: 0.6em;
    padding-bottom: 20px;
}

#signuplink p {
    margin: 0;
    line-height: 1.2;
}

.progressBar {
    height: 25px;
    width: 80%;
    background: #EEE;
    margin: 20px auto;
    text-align: left;
}

.progressBar .currentProgress {
    background: #FFB000;
    height: 25px;
    vertical-align: top;
}

.progressBar .currentProgressText {
    vertical-align: top;
    font-size: 0.7em;
    color: #FFB000;
    text-align: right;
    padding: 0 5px;
}

.progressBar .notZero {
    color: white;
    margin-left: -50px;
}

#share {
    width: 60%;
    margin: 35px auto 0;
}

#share div {
    display: inline-block;
    width: 30%;
}

#share img {
    height: 6em;
    cursor: pointer;
}

#share img:hover {
    -webkit-transform: scale(1.1,1.1);
}
/*---------------End Share Page--------------*/


/*----------------Payment Page---------------*/

/*--------------End Payment Page-------------*/


/*-----------------User Pages----------------*/

/*---------------End User Pages--------------*/
