/* Sticky footer styles */
html, body {
    height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}
#wrap > .container {
    padding-top: 20px;
}

/* Set the fixed height of the footer here */
#push {
	height: 80px;
}
footer {
	height: 60px;
    background-color: #efefef;
	text-align: center;
}
.credit {
	margin: 20px 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


body {
	padding-top: 60px;
}

h2, h3, h4 {
	margin: 36px 0 18px;
}

a:hover {
	text-decoration: none;
}

.tab-content {
	overflow: visible;
}

.table th, .table td {
	vertical-align: middle;
}


/** Custom CSS **/
